body {
  font-family: sans-serif;
  padding: 15px;
  background: #fafafa;
}

#app {
  max-width: 500px;
  margin: auto;
}

.product-info img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}
